---
---
// {
//   $backgroundColor: #000000;
//   $bodyColor: #000000;
//   $bodyFont: -apple-system,
//   BlinkMacSystemFont,
// "Segoe UI",
// Helvetica,
// Arial,
// sans-serif,
// "Apple Color Emoji",
// "Segoe UI Emoji",
// "Segoe UI Symbol";
// }

// body {
//   background: $backgroundColor;
//   color: $bodyColor;
//   font-family: $bodyFont;
// }

@import 'bootstrap/bootstrap';

// div {border: 1px red solid;}

.jumbotron {
  background-size: cover;
  // height: 700px;11
  width: 100%;
  // width:auto;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-image: url("{{ site.url }}/assets/images/mobile.png");
}

// @include media-breakpoint-up(sm) {
//     .jumbotron {
//       background-image: url("{{ site.url }}/assets/images/mobile.png");
//     }
//   }

// @media (max-width: 480px) {

// // @media (min-width: 481px) and (max-width: 1024px) {
// //   // body {
// //   //   background-image: url(images/background-tablet.jpg);
// //   // }
// // }

// @media ((min-width: 1025px)) {
//   .jumbotron {
//     background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.2)), url("{{ site.url }}/assets/images/homepage3.png");
//   }
// }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .jumbotron {
    background-image: url("{{ site.url }}/assets/images/mobile.png");
    // background-color: red;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .jumbotron {
    background-image: url("{{ site.url }}/assets/images/homepage5.png");
    // background-color: blue;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jumbotron {
    background-image: url("{{ site.url }}/assets/images/homepage5.png");
    // background-color: green;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .jumbotron {
    background-image: url("{{ site.url }}/assets/images/homepage5.png");
    // background-color: yellow;
  }
}

// .bandeau {
//   background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
//   url("{{ site.url }}/assets/images/transport_minibus.jpeg");
//   background-size: cover;
//   height: 30vh;
//   background-repeat: no-repeat;
//   background-position: center;
//   color: white;
// }

.cover {
  object-fit: cover;
}

footer {
  background-color: #649FA0;
  color: white;
}

.promesse {
  background-color: #E8E8E8;
}

.phone {
  border: #E8E8E8 2px solid;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

.gradient-custom {
  /* fallback for old browsers */
  // background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(148, 234, 236, 1), rgba(100, 159, 160, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(148, 234, 236, 1), rgba(100, 159, 160, 1))
}

.custom-button {
  display: inline-block;
  padding: 8px 8px;
  // width: 200px;
  background: rgb(100, 159, 160);
  // background: -webkit-linear-gradient(to right, rgba(148, 234, 236, 1), rgba(100, 159, 160, 1));
  color: #fff;
  text-align: center;
  // text-shadow: 1px 1px 0 #000;
  border-radius: 5px;
  text-decoration: none;
}

.custom-button:hover {
  background-color: white;
  color: rgb(100, 159, 160);
  transition: 0.40s;
  border: 2px solid rgb(100, 159, 160);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
