$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.5 !default;

$primary: #649fa0;
$light: #94eaec !default;
$dark: #003737 !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;

