<div class="bandeau d-flex justify-content-center">

  <div class="align-items-start">

    <h1 class="display-4 text-center pt-5">{{ page.title }}</h1>
    <!-- <hr class="my-4 text-center"> -->
    </p>
  </div>
</div>

<style>

.bandeau {
  background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
  url("{{ site.url }}/assets/images/{{ page.bandeau }}");
  background-size: cover;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

</style>
