<div class="gradient-custom">
  <div class="jumbotron d-flex justify-content-center " >
    <div class="">

      <h1 class="display-2 fw-bolder text-center text-uppercase pt-5 m-5" style="letter-spacing:0.5rem;">Lesaffre Service Assistance</h1>
      <!-- <hr class="my-4 text-center"> -->
      <p class="display-3 text-center fs-3 fw-bold m-5">Votre Partenaire Transport</p>
      <p class="lead text-center">
        <!-- <a class="btn btn-primary btn-lg btn-inverse" href="#" role="button">Demande de devis</a> -->
          <a class="custom-button fs-5 m-5" href="{{ '/contact' | absolute_url }}"> Demandez un devis </a>
      </p>
    </div>
  </div>
</div>
