

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="primary">
        <h2 class="section-heading">Nos Véhicules</h2>
      </div>
    </div>
  </div>
</div>

<div class="container p-4">

  <div class="row">
    <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi4.jpg"
      alt="Generic placeholder image" width="200" height="200">
    <h4>Taxi</h4>
    <ul>
      <li>Transports toutes distances (Montfort/Meu, Iffendic, Monterfil)</li>
      <br>
    </ul>
    </p>

  </div><!-- /.col-lg-3 -->
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi5.jpg" alt="Generic placeholder image" width="200" height="200">
    <h4 class="pt-3">TPMR</h4>
      <p>Véhicule adapté et équipé pour le transport de personnes à mobilités réduites.</p>
    </p>

  </div>
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi1.jpg" alt="Generic placeholder image" width="200" height="200">
    <h4>MINI BUS</h4>
    <ul>

    </ul>
    </p>

  </div>
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/Minicar.png" alt="Generic placeholder image" width="200" height="200">
    <h4>MINI CAR</h4>
    <ul>

    </ul>
    </p>

  </div>
</div>
</div>
