<div class="accueil-presentation">

  <div class="container p-5">

    <h2 class="text-center p-3  ">Qui sommes-nous ?</h2>
    Depuis 1985, nous sommes spécialisés dans la <strong>service de transport sur-mesure à Mont-fort sur Meu, Yffindic, Monterfil et la région rennaisse</strong> :
    <ul>
      <li>
        Taxis
      </li>
      <li>
        Taxis conventionnés
      </li>
      <li>
        Circuits scolaires : écoles / IME
      </li>
      <li>
        Transfert gare / aéroports (Rennes, Dinard, Nantes, Paris)
      </li>
      <li>
        Déplacements professionels
      </li>
      <li>
        Evénementiels (mariages, CE, soirées annuelles)
      </li>
    </ul>

    <p>
      Notre priorité première est de vous offrir une prestation de qualité et un interlocuteur unique pour organiser vos
      projets.
    </p>

    <p>
      Nous disposons d’une <strong>flotte de véhicules de 4 à 8 places</strong> conduits par des chauffeurs professionels
    <p>

      Nous sommes <strong>disponibles 24/7</strong> grâce à notre permanence téléphonique lors de nos prestations de
      nuit.
    </p>


  </div>
</div>
