<section class="vh-50 gradient-custom">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col col-xl-10">
        <div class="card">
          <div class="card-body py-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-9 col-xl-8">
                      <div class="row d-flex flex-wrap">
                        <div class="col-lg-4 text-center">
                          <img src="{{ absolute_url }}/assets/images/William_lesaffre.jpg"
                            class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="william lesaffre" width="120" height="120">
                        </div>
                        <div class="col-lg-8">
                          <figure>
                            <blockquote class="blockquote mb-4">
                              <p>
                                <i class="fas fa-quote-left fa-lg text-warning me-2"></i>
                                <span class="font-italic">Depuis 35 ans, notre priorité est de vous satisfaire! Nous sommes à votre écoute et trouverons le service adaptés à votre besoin</span>
                              </p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                              William Lesaffre <cite title="Source Title">LSA Transports</cite>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
