
<div class="container">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12 text-center">
        <!-- <hr class="primary"> -->
        <h4 class="section-heading ">Nos Services</h4>
      </div>
    </div>
  </div>
</div>

<div class="container p-4">

  <div class="row">
    <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi_scenic.jpg"
      alt="taxi monterfil" width="200" height="200">
    <h4>Taxi</h4>
    <ul>
      <li>Transports par taxis toutes distances, gares, aéroports, déplacements personnels ou professionnels.
</li>
      <br>
      <li>Disponibilité 7j/7</li>
      <br>
      <li>De 1 à 8 personnes</li>
    </ul>
    </p>
    <p><a class="btn btn-primary" style="color:white" href="{{ site.baseurl }}/taxi" role="button">Voir &raquo;</a></p>
  </div>
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi_conventionné.jpg" alt="Generic placeholder image" width="200" height="200">
    <h4>Taxis conventionnés</h4>
    <ul>
      <li>Transports personnes à mobilité réduite</li>
      <br>
      <li>Transports de malades assis</li>
      <br>
      <li>rendez-vous médicaux </li>
      <br>
      <li>hospitalisations</li>
      <br>
      <li>remboursements toutes caisses</li>
    </ul>
    </p>
    <p><a class="btn btn-primary" style="color:white" href="{{ site.baseurl }}/taxi_conventionne" role="button">Voir &raquo;</a></p>
  </div>
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/navette_aeroport.jpg" alt="Generic placeholder image" width="200" height="200">
    <h4>Navette aéroport</h4>
    <ul>
      <li>Pour votre transfert vers l’aéroport ou la gare,
        nous vous conduirons grâce à des véhicules grand confort spacieux et climatisés </li>
    </ul>
    <p><a class="btn btn-primary" style="color:white" href="{{ site.baseurl }}/transfert" role="button">Voir &raquo;</a></p>
  </div>
  <div class="col-lg-3 text-center">
    <img class="rounded-circle cover shadow-lg p-1 mb-3" src="{{ site.baseurl }}/assets/images/taxi-mariage.jpg" alt="taxi mariage rennes" width="200" height="200">
    <h4>Evénements - Transport de Groupes</h4>
    <ul>
      <li>Déplacements professionnels</li>
      <br>
      <li>Circuit Touristique</li>
      <br>
      <li>Mariage</li>
    </ul>
    </p>
    <p><a class="btn btn-primary" style="color:white" href="{{ site.baseurl }}/evenement" role="button">Voir &raquo;</a></p>
  </div>
</div>
</div>
