<!DOCTYPE html>
<html lang="{{ site.lang | default: " fr-FR" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- {% include logo.html %} -->
  {% include navbar.html %}
  {% include bandeau.html %}

  <div class="container">
    <div class="row d-flex p-5">
      <div class="col-4">
        <img class="img-fluid shadow-lg rounded" alt="Responsive image" src="{{ site.baseurl }}/assets/images/{{ page.picture }}" alt="">
      </div>
      <div class="col-8">
        {{ content }}
        <div class="text-center">
          <a href="{{ site.baseurl }}/contact/">
            <div class="btn btn-primary m-5">DEMANDEZ UN DEVIS</div>
          </a>
        </div>

      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
