<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">

{% include head.html %}
<body>
  {% include navbar.html %}
  {% include bandeau.html %}

  <div class="container">
    <div class="row d-flex flex-wrap-reverse p-5">
      <div class="col-lg-4">
        <img class="img-fluid shadow-lg rounded" alt="Responsive image" src="{{ absolute_url }}/assets/images/{{ page.picture }}" alt="">
      </div>
      <div class="col-lg-8">
        {{ content }}
        <div class="text-center">
          <a href="{{ absolute_url }}/contact">
            <div class="btn btn-primary m-5" style="color:white;">DEMANDEZ UN DEVIS</div>
          </a>
        </div>

      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
