<!DOCTYPE html>
<html lang="{{ site.lang | default: " fr-FR" }}">

{% include head.html %}

<body>
  <!-- {% include logo.html %} -->
  {% include navbar.html %}
  {% include bandeau.html %}

  <div class="container">
    <div class="row d-flex p-5">
      <div class="col-4">
        <img class="img-fluid shadow-lg rounded" alt="Responsive image" src="{{ site.baseurl }}/assets/images/{{ page.picture }}" alt="">
      </div>
      <div class="col-8">
        {{ content }}
        <div class="text-center">
          <a href="{{ site.baseurl }}/contact/">
            <div class="btn btn-primary m-5">DEMANDEZ UN DEVIS</div>
          </a>
        </div>

      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
